<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#singup">
  Register
</button>
<div class="modal fade" id="singup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Family</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>If you are a family in need, we will provide with food and support during this period of pandenic.m</p>
        <form accept-charset="UTF-8" role="form">
          <fieldset>
            <div class="form-group">
              <input class="form-control" id="email" placeholder="First Name" name="First Name" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" id="email" placeholder="Middle Name" name="Middle Name" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" id="email" placeholder="Last Name" name="Last Name" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" id="email" placeholder="ID" name="ID" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" id="Phone" placeholder="Phone" name="ID" type="phone">
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
