<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Create User</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" id="inputFirstName" aria-describedby="firstNameHelp" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputFirstName">Middle Name</label>
            <input type="text" class="form-control" formControlName="middleName" id="inputFirstName" aria-describedby="middleNameHelp" placeholder="Middle Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" id="inputLastName" aria-describedby="lastNameHelp" placeholder="Last Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Phone</label>
            <input type="tel" class="form-control" formControlName="phone" id="inputPhone" aria-describedby="phoneHelp" placeholder="123-456-7890">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email/UserName</label>
            <input type="email" class="form-control" formControlName="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" formControlName="password" id="inputPassword" aria-describedby="passwordHelp" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="birthDate">Birth Date</label>
            <input type="date" class="form-control" formControlName="birthDate" id="birthDate" aria-describedby="birthDateHelp" placeholder="10/01/1975">
          </div>
          <div class="form-group col-md-6">
            <label for="userType">User Type</label>
			<select name="type" class="form-control" formControlName="type" id="userType" aria-describedby="typeHelp" >
			  <option hidden value="USER" selected>USER</option>
			  <option value="NGO">NGO</option>
			  <option value="DONOR">DONOR</option>
			  <option value="VENDOR">VENDOR</option>
			  <option value="FAMILY">FAMILY</option>
			</select>
          </div>
        </div>
         	<input type="hidden" formControlName="isValidated" id="isValidated" name="isValidated" value="N">
         	<input type="hidden" formControlName="isQRCodeGenerated" id="isQRCodeGenerated" name="isQRCodeGenerated" value="N">
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">Create</button>
      </form>
    </div>
    <div class="col-md-4 mrgnbtm">
      <app-display-board
       [userCount]="userCount"
       (getUsersEvent)="getAllUsers()">
      </app-display-board>
    </div>
  </div>
</div>
<div class="mrgnbtm">
  <app-users *ngIf="users.length !== 0" [users]="users"></app-users>
