<button type="button" class="btn btn-primary"  [hidden]="IsLoggedIn" (click)="ShowLogin()" >
 Login
</button>
<button type="button" class="btn btn-primary"  [hidden]="!IsLoggedIn" (click)="LogOut()" >
  Logout
 </button>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <fieldset>
            <div class="form-group">
              <input class="form-control" formControlName="login" placeholder="yourmail@example.com" type="email">
            </div>
            <div class="form-group">
              <input class="form-control" formControlName="password" placeholder="Password" type="password">
            </div>
            <div class="alert alert-primary" [hidden]="errorMessage === ''" role="alert">
              {{errorMessage}}
            </div>
          </fieldset>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"   >Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div id='errorMessage' role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="true"  >
  <div class="toast-header">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{errorMessage}}
  </div>
</div>
